@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


.App-logo {
  padding: 10px;
  font-family: Roboto, Arial, sans-serif;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #4287f5;
  height: 150px;
  padding: 15px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 100;
}

.App-title {
  padding: 15=0px;
  font-size: 1.5em;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 100;
}

.App-intro {
  padding: 5px 5px 10px 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.0em;
  font-weight: normal;
}

.App-bottom-image {
  max-width: 100%;
  height: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

